# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/plugins/*/data.json
.obsidian/graph.json
.obsidian/daily-notes.json

# OS / caches
Thumbs.db
desktop.ini

# Editors
.idea/
.vscode/
*.swp
*.tmp